body {
	background: lightgrey;
}
a {
	text-decoration: none;
	color: red;
}
a:hover {
	text-decoration: underline;
	background-color: #80ccff;
}
#table2 {
	background-color: #80ccff;
	font-style: italic;
}
#tr2, #caption {
	font-style: normal;
}
th {
	color: white;
}
li {
	font-style: italic;
}
@font-face {
	font-family: yearzero;
	src: url("resea.ttf");
}
.font {
	font-family: yearzero;
}