body {
	background: c4c4c4;
}
th {
	color: white;
}
li {
	font-style: italic;
}
#table2 {
	background-image: url(http://yearzero.nin.com/0024/yearzero_cover.jpg);
	color: red;
}
@font-face {
	font-family: yearzero;
	src: url("resea.ttf");
}
.font {
	font-family: yearzero;
}